body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Estilo para a lista de projetos */
.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    list-style: none;
    margin: 0;
}

.project-list li {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-list li:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}

.project-list a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    font-size: 1.1em;
    display: block;
    margin-bottom: 10px;
}

.project-list p {
    color: #555;
    font-size: 1em;
}

/* Responsividade */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }
}